/* #cityBoard */
/* .container{

    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    height;
  

} */
/* 
html, body {
    height: 100%;
    margin: 0;
  }
   */

   *{

    cursor:none;
   }
  .container {
    height: 100%;
    /* background: rgb(65, 172, 172); */
    background-image: url("images/output-onlinepngtools(2).jpg");
    
  }
canvas{       
   background: red;
    border-style: solid;
    border-width: 5px;
    
    margin-top: 60px; 
    margin-left: 30px;
    margin-right: 30px;  
    /* justify-self: center; */

}

  #cityBoard{
    display: flex;
    justify-content: center;
    align-content: center; 
    align-items: center;
    align-content: center; 
  }
