  *{

    /* cursor:none; */
   }

   #div1 {
    width: 800px;
    height: 500px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    background-image: url("images/citynew.png");
  }
  
  .container {
    height: 80%;
    /* background: rgb(65, 172, 172); */
    border: black;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-content: center; 
    align-items: center;
    align-content: center; 
    
  }
